
@{
    ViewBag.Title = "SharedDateDemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SharedDateDemo</h2>
@ViewBag.DateTime
@Html.Action("PartialViewDate", "Default");

@Html.Partial("_PartialPageDateTime");

